* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
  color: white;
}

/* NAV */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background: rgba(0,0,0,0.6);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu {
  font-size: 16px;
  letter-spacing: 2px;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(45%);
}

.hero-content {
  position: absolute;
  bottom: 120px;
  left: 40px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn:hover {
  background: white;
  color: black;
}

/* ALBUM */
.album {
  padding: 100px 30px;
  text-align: center;
}

.album h2 {
  font-size: 28px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.album h3 {
  font-size: 22px;
  margin-bottom: 40px;
  color: #ccc;
}

.album iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border: none;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  color: #777;
  font-size: 14px;
}

/* ABOUT PAGE */
.about {
  min-height: 100vh;
  padding: 160px 30px 80px;
  background: black;
}

.about-container {
  max-width: 900px;
  margin: auto;
}

.about h1 {
  font-size: 42px;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.about p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #ddd;
}


.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.menu a:hover {
  color: #00bfff;
}